<head>
    <meta charset="utf-8">
    <title>{% block title %}Login{% endblock %}</title>
</head>

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>