<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<h1>
    Смотрелка карт Magic: the Gathering (<a href="{% url 'home' %}">Home</a>)
</h1>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>