{% extends 'base.html' %}

{% block title %}MTG viewer{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>User: {{ user.username }}</p>
    <p>Balance: {{user.profile.balance}} coins</p>

    <form type="get" action="/cards/buy" style="margin: 0">
        <input  id="search_box" type="text" name="q"  placeholder="Card name..." >
        <button id="search_submit" type="submit" >Buy card</button>
    </form>
    <p><font color="red">{{error_message}}</font></p>

    <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p>You are not logged in!</p>
    <p>Please, <a href="{% url 'login' %}">Log in</a>.</p>
{% endif %}
{% endblock %}